.home-hero {
    position: relative;
    height: 100vh;

    background-position: center center;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

    @include light-text;

    &__content {
        z-index: 10;
        padding: $global-padding;

        text-shadow: 0 1px 2px rgba(0, 0, 0, .3);

        @include breakpoint(medium) {
            padding: 3 * $global-padding;
        }
    }

    &__overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 5;

        background: linear-gradient(rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, .3) 70%, rgba(0, 0, 0, .6));

        @include breakpoint(medium) {
            background: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .3) 87%, rgba(0, 0, 0, .6));
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        padding: $menu-item-padding 0;
    }

    h1 {
        font-size: 3rem;

        @include breakpoint(medium) {
            font-size: 5rem;
        }
    }
}
