.nav {
    .title-bar, .top-bar, .menu {
        background-color: map-get($foundation-palette, primary);
    }

    @include light-text;
    text-transform: uppercase;

    .menu a {
        transition: font-size .15s ease-in;

        &:hover {
            font-size: 1.2rem;
        }
    }
}

.top-bar-center {
    @extend .top-bar-left;

    @include breakpoint(medium) {
        .menu {
            justify-content: center;
        }
    }
}

.title-bar {
    justify-content: flex-start;
}
