<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>{{ if .Title}}{{ .Title }} | {{ end }}{{ .Site.Params.Title }}</title>
{{ if .Description }}
<meta name="description" content="{{ .Description }}">
{{ else if .Site.Params.Description }}
<meta name="description" content="{{ .Site.Params.Description }}">
{{ end }}

<meta name="viewport" content="width=device-width, initial-scale=1">

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/google_news.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<link rel="stylesheet" href="{{ "/hilde.css" | relLangURL }}">

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
