<div class="nav">

    <div class="title-bar hide-for-medium" data-responsive-toggle="main-menu">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
    </div>

    <div id="main-menu" class="top-bar">
        <div class="top-bar-center">
            <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                <div class="menu-text">
                    <a href="{{root}}index.html">
                        Hilde Rogge
                    </a>
                </div>
                <li class="{{#ifpage 'bio'}}active{{/ifpage}}">
                    <a href="{{root}}bio.html">Bio</a>
                </li>
                <li class="{{#ifpage 'vertelsels'}}active{{/ifpage}}">
                    <a href="{{root}}vertelsels.html">Vertelsels</a>
                </li>
                <li class="{{#ifpage 'fotos'}}active{{/ifpage}}">
                    <a href="{{root}}fotos.html">Foto's</a>
                </li>
                <li class="{{#ifpage 'contact'}}active{{/ifpage}}">
                    <a href="{{root}}contact.html">Contact</a>
                </li>
                <!-- <li class="{{#ifpage 'sprokkels'}}active{{/ifpage}}">
                     <a href="{{root}}sprokkels.html">Sprokkels</a>
                     </li> -->
            </ul>
        </div>
    </div>

</div>
