<article class="mw6 center bg-white br2 pa3 pa4-ns mv3 ba b--black-10"
         itemscope itemtype="http://schema.org/Person">
  <div class="tc">
    <img src="/img/avatar.jpg" class="br-100 h3 w3 dib" itemprop="image">
    <h2 class="f4" itemprop="name">Hilde Rogge</h2>
  </div>
  <p class="lh-copy measure f6 black-70">
    Bel me, <span itemprop="telephone">0495 49 79 25</span><br>
    Schrijf me, <a href="mailto:hilde.rogge@outlook.com" itemprop="email">hilde.rogge@outlook.com</a><br>
    Blaas een rookpluim.
  </p>
</article>
